@font-face {
    font-family: 'OCR A';
    src: url('fonts/ocraextended.ttf') format('truetype');
}

body {
    background: #f0f0f0;
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
}

.ktp-container{
    width: 720px;
    height: 420px;
    background-image: url(/images/backgroud-ktp.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 20px;
    
}

.main-ktp{
    display: flex;;
    justify-content: space-between;
}

.ktp-footer p{
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.ktp-footer{
    margin-bottom: 20px;
}

.ktp-nik{
    display: flex;
    font-family: 'OCR A';
    margin-bottom: 10px;
}

.ktp-nik .label{
    width: 100px;
}

.ktp-nik .colon{
    width: 20px;
}

.ktp-nik .label ,
.ktp-nik .colon,
.ktp-nik .value{
    font-size: 30px;
}

.ktp-data{
    font-family: Arial;
    font-weight: 600;
}
.ktp-data-row{
    display: flex;;
    padding: 3px 0px;
}

.label{
    width: 150px;
}

.label-goldar{
    width: 90px;
}

.colon{
    width: 10px;
}

.value{
    text-transform: uppercase
}

.ktp-data-row-sub{
    display: flex;
    gap: 190px;
}

.ktp-data-row-sub-1{
    display: flex;
}

.ktp-data-row-sub-3{
    position: relative;
    left: 40px;
}

.ktp-data-row-sub-3 .ktp-data-row .label{
    width: 110px !important ;
}

.ktp-data-row-sub-3 .ktp-data-row .label{
    width: 90px;
}

.img img{
    width: 140px;
    height: 200px;
}

.right-ktp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-pengesahan p{
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.ttd-ktp img{
    margin-top: 5px;
    width: 150px;
}